.venv
venv
.env
.env.*
*.pyc
__pycache__
**/__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.git
.gitignore
*.zip
.obsidian
**/.DS_Store
*.egg-info
dist
build
tests
.coverage
htmlcov
Dockerfile
docker-compose*.yml
.dockerignore
